*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-image: url('animate2.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background-color: rgb(48, 3, 119);
}

.container{
    box-shadow: 0 0 4px 3px rgb(255, 1, 1);
    width: 400px;
    height: 350px;
    border-radius: 10px;
    display: flex;
    justify-content: center; 
    align-items: center;  
    flex-direction: column;  
    color: rgb(255, 255, 255);
    transition: width 4s, height 4s;
}
.container:hover {
    width: 800px;
    height: 600px;
  }
.container p{
    color: rgb(156, 12, 12);
    margin: 10px;
    font-size: 40px;
    font-weight: bolder;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;  
}


.inputContainer{
    margin:5px;
    display: flex;
    justify-content: space-between;
    width:80%;
}
.inputContainer label{
    font-size: larger;
}
.inputContainer input{
    border:none;
    outline: none;
    box-shadow: 0.1px 1px 2px 1px rgb(145, 140, 140);
    padding:4px;
    font-size: large;
    border-radius: 2px;
    font-family: 'Times New Roman', Times, serif;
}


